/*
此部分包含所有相關間距
*/

.mt-1 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.mt-3 {
    margin-top: 24px;
}

.mt-4 {
    margin-top: 32px;
}

.mt-5 {
    margin-top: 40px;
}

.mt-6 {
    margin-top: 48px;
}

.mt-7 {
    margin-top: 56px;
}

.mt-8 {
    margin-top: 64px;
}

.mt-16 {
    margin-top: 128px;
}