$gutter-width: 30px;
$grid-num : 12;

// gutter 可以設置絕對數值
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 960px;
    padding: 0 $gutter-width / 2;
}
.box {
    height: 300px;
    background-color: gray;
}
.row {
    display: flex;
    margin: 0 -($gutter-width / 2);
    flex-wrap: wrap;
}

%col {
    position: relative;
    min-height: 1px;
    padding: 0 $gutter-width / 2;
    max-width: 100%;
    flex: 0 0 100%;
    }

@for $i from 1 through $grid-num {
    .col-#{$i} {
       @extend %col;
    }
}
@media (min-width: 767px){
   @for $i from 1 through $grid-num {
       .col-#{$i} {
           max-width: ($i / $grid-num) * 100%;
           flex: 0 0 (($i / $grid-num) * 100%);
       }
   }
}